  <footer class="footer footer-static footer-light navbar-border navbar-shadow">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
        <span class="float-md-left d-block d-md-inline-block">Agence Immobilier
            ,<a class="text-bold-800 grey darken-2" href="http://localhost:8080/JeeGestionImmobilier/index.jsp" target="_blank">www.frontend.com </a>,watsapp :
            +22249874807
        </span>
        <span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">developpement & programmation <i
                class="ft-heart pink"></i></span>
    </p>
</footer>