 <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item"><a href="dashboard.jsp"><i class="la la-home"></i><span class="menu-title"
                        data-i18n="nav.dash.main">Dashboard</span></a>
            </li>
          
                <li class=" nav-item"><a href="#"><i class="la la-comments" aria-hidden="true"></i></i><span class="menu-title"
                            data-i18n="nav.templates.main">Messages</span></a>
                    <ul class="menu-content">
                        <li><a class="menu-item" href="messages.jsp"
                                data-i18n="nav.templates.vert.main">Messages</a>
                        </li>
                    </ul>
                </li>
           
			<li class=" nav-item"><a href="#"><i class="la la-building" aria-hidden="true"></i><span class="menu-title"
                        data-i18n="nav.templates.main">Communes</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="communes.jsp"
                            data-i18n="nav.templates.vert.main">Communes</a>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="la la-map-marker aria-hidden="true"></i></i><span class="menu-title"
                        data-i18n="nav.templates.main">Quartiers</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="quartiers.jsp"
                            data-i18n="nav.templates.vert.main">Quartiers</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item"><a href="#"><i class="la la-home" aria-hidden="true"></i><span class="menu-title"
                        data-i18n="nav.templates.main">Type logement</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="type_logements.jsp"
                            data-i18n="nav.templates.vert.main">Type logement</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item"><a href="#"><i class="la la-building-o" aria-hidden="true"></i><span class="menu-title"
                        data-i18n="nav.templates.main">Logements</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="logements.jsp"
                            data-i18n="nav.templates.vert.main">Logements</a>
                    </li>
                </ul>
            </li>
    </div>
</div>